@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
html{
  font-size: 62.5%;
  margin: 0px;
  padding: 0px;
}

body {
  margin:0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
  font-family: "Zilla Slab", serif;
  list-style: none;
scrollbar-width: none;
}

:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  --pink-color: rgb(223, 64, 109);
}

.dark-theme {
  background-color: var(--secondary-color);
  /* color:var(--primary-color) */
}

.text-color2 {
  color: var(--primary-color);
}

.myhead {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 10rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.myhead li a:hover {
  color: var(--pink-color);
  cursor: pointer;
}

.myhead h4:hover {
  color: var(--pink-color);
  cursor: pointer;
}
.myhead ul {
  display: flex;
  align-items: center;
}

.top_nav h4 {
  font-size: 2.2rem;
  font-weight: 900;
}
.mid_nav li {
  display: inline-block;
  margin: 1rem 2.5rem;
  position: relative;
  cursor: pointer;
}
.mid_nav .textstyle{
  color: var(--secondary-color);
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  &:hover{
    color: rgb(223, 64, 109);
  }
}
.drop:hover .dropmenu ,
.drop:focus-within .dropmenu{
  display: block;
}
.mid_nav li ul{
  background-color: rgb(226, 238, 233);
  position: absolute;
  width: 15rem;
  z-index: 9999; 
  /* margin-top: 10px; */
  padding: 0;
  display: none;
  cursor: pointer;
  &:hover{
    display: block;
  }
}
.mid_nav li ul li{
  width: 100%;
  border-top: 1px solid rgb(187, 174, 174);
  margin: 0px;
  padding: 1rem;
  
}
.top_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top_nav img,
h4 {
  margin: 0px .5rem;
}

.menu-btn img {
  width: 3rem;
  height: auto;
}

.menu-btn img {
  cursor: pointer;
  display: none;

}

.top_nav img {
  width: 3rem;
  height: auto;
}

.end_nav img {
  width: 3rem;
  height: auto;
  margin: 1rem;

}

.end_nav {
  margin: 0px 1rem;
}

.end_nav img:hover {

  cursor: pointer;
}

/* ============================================================ */

.container{
  height: 100vh;
}
.section {
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  /* margin: 0px 100px; */
}

.col {
  width: 50%;
  padding: 1vw 3vw;
}


.btn {
  border: none;
  outline: none;
  background-color: rgb(223, 64, 109);
  padding: 1.5rem 1.75rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  border-radius: 3px;
  box-shadow: 2px 2px 9px #888888;
  color: white;
  font-weight: bold;
  margin-top: 2rem;
  &:hover {
    box-shadow: 0 1px 3px #725959;
    cursor: pointer;
  }
}

.title {
  font-size: 9.2rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.info {
  font-size: 2.1rem;
  letter-spacing: 1px;
  line-height: 1.2em;
  color: #888888;
}
/* ============================== */
/* bookslider */
.box1 {
  position: absolute;
  top: 10rem;
  right: 32.5rem;
  background-size: cover;
  width: 25rem;
  object-fit: cover;
  /* border: .5px solid gray; */
  height: 35rem;
  background-image: url("src/images/book-1.png");
  /* &:hover{
    transform: scale(1.1);
  } */
}
.box2 {
  position: absolute;
  top: 25rem;
  right: 58rem;
  background-size: cover;
  width: 25rem;
  height: 35rem;
  object-fit: cover;
  background-image: url("src/images/book-5.png");
  /* &:hover{
    transform: scale(0.9);
  } */
}

.box3 {
  position: absolute;
  top: 25rem;
  right: 7rem;
  background-size: cover;
  width: 25rem;
  object-fit: cover;
  height: 35rem;
  background-image: url("src/images/book-7.png");
  /* &:hover{
    transform: scale(0.9);
  } */
}
/* ================================ */
.search-bar-cont {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.search-bar {
  padding: 15px 80px 15px 10px;
  /* border: 2px solid rgb(223, 64, 109); */
  border-radius: 50px;
  margin: 5px;
  box-shadow: 2px 2px 7px 1px gray;
  outline: none;
  border: none;
  &:hover {
    box-shadow: 0 1px 3px #725959;
    /* border: 2px solid rgb(223, 64, 109); */
  }
}

.search-btn {
  border: none;
  outline: none;
  padding: 15px 15px;
  border-radius: 50px;
  margin: 5px 10px;
  background-color: rgb(223, 64, 109);
  color: white;
  text-transform: uppercase;
  box-shadow: 2px 2px 7px 1px gray;
  font-size: 1em;
  font-weight: bold;
  &:hover {
    box-shadow: 0 1px 3px #725959;
    cursor: pointer;
  }
}

/* ========================== */
.container2 {
  width: 75%;
  background-color: rgb(227, 225, 230);
  margin: 0 auto;
  margin-top: 70px;
  display: grid; 
  grid-template-columns: repeat(4,1fr); 
  grid-gap: 20px;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 1em;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(234, 228, 230);
  border-radius: 1rem;
  padding: .5rem;
  height: 300px;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px gray;
  transition: .5s;
  text-align: center;
  position: relative;
  background-size: cover;
  &:hover{
    transform: scale(0.9);
  }
  box-sizing: border-box;
}
.card img {
  width: 100%;
  height: 200px; 
  border-radius: 1rem 1rem 0 0;
  padding-top:7px;
}
.card .bottom{
  display: flex;
  flex-direction: column;
}
.card .title2{
  font-size: 14px;
  margin-bottom: 15px;
}
.card .amount{
  /* position: absolute; */
  font-size: 13px;
  font-weight: bold;

}
/* ============================= */
@media (min-width:1252px) and (max-width: 1505px) {
  /* CSS styles here */
  .box1{
    top: 10rem;
    right: 18%;
    width: 20rem;
    height: 30rem;
    object-fit: cover;  
  }
  .box2 {   
    top: 25rem;
    right: 33%; 
    width: 20rem;
    height: 30rem;
    object-fit: cover;  
  } 
  .box3 {
    top: 25rem;
    right: 3%;
    width: 20rem;
    height: 30rem;
    object-fit: cover;  
  }
}
@media (max-width: 1250px) {
  html{
    font-size: 55%;    
  }
  .col {
    width: 100%;
    padding: 1vw 3vw;
    margin-bottom: 0px;
   
  }
  .box1{
    top: 60%;
    right: 39%; 
  }
  .box2 {   
    top: 60%;
    right: 68%;
  } 
  .box3 {
    top: 60%;
    right: 10%;
  }
}
@media (max-width: 1050px) {
  html{
    font-size: 42%;    
  }
  .box1{
    top: 60%;
    right: 36%; 
  }
  .box2 {   
    top: 60%;
    right: 68%;
  } 
  .box3 {
    top: 60%;
    right: 4%;
  }
}
@media(max-width:668px){
  html{
    font-size: 35%;
  }
  .box1{
    top: 50%;
    right: 17%;
    width: 20rem;
    height: 30rem;
    object-fit: cover;  
  }
  .box2 {   
    top: 50%;
    right: 62%; 
    width: 20rem;
    height: 30rem;
    object-fit: cover;  
  } 
  .box3 {
    top: 74%;
    right: 39%;
    width: 20rem;
    height: 30rem;
    object-fit: cover;  
  }
}

/* Quote generator */
.quoteCont{
  width: 90rem;
  /* background-color: rgb(135, 165, 165); */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin: auto;
}
.quote{
  padding: 2rem 10rem;
  font-size: 3.2rem;
  color: #4e4c4c;
}
.line{
  width: 75rem;
  margin: auto;
  height: .1rem;
  background-color: rgb(126, 110, 110);
}
.quoteBottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 0 ;
}
.author{
  font-size: 2rem;
  font-weight: 500;
}
.quoteicons {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  font-size: 2rem;
  cursor: pointer;
}
